html
  head
    title Capture Flag  
  body
  h1 Leaderboard
  table(style='width:100%', border='1')
    for item in data
      tr
        th Name
        th Meeting Room
        th Count
      tr
        td= item.organizer_email
        td= item.room_name
        